@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
body{
    font-family: "Hanken Grotesk";
}

p{
    font-size: 18px;
}
.title{
    font-size: 24px;
}
.score{
    font-size: 64px;
}
.transparent{
    opacity: 0.6;
}
span{
    font-weight: bold;
    opacity: 1;
}
.container{
    display: flex;
    background-color: white;
    width: 640px;
    height: 100%;
    margin: 200px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42);
    -webkit-box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: 9px 10px 36px -3px rgba(0,0,0,0.42); 
    
}

.left-container{
    flex: 1;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
    border-radius: 20px;
    color: white;
    padding: 25px 35px 20px;
    height: 450px;
    width: 320px;

    .text-great{
        margin-bottom: 18px;
    }
    .circle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        width: 170px;
        height: 170px;
        /* border: 1px solid; */
        border-radius: 100%;
        background: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        
    }
    
}

.right-container{
    flex: 1;
    height: 450px;
    width: 320px;
    padding: 25px 30px 20px;
    .list{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px 20px;
        padding: 12px;
    }
    .description-name{
        margin-left: 8px;
    }
    .reaction{
        color: hsl(0, 100%, 67%);
        display: flex;
        align-items: space-between;
        flex-direction: row;
    }
    .memory{
        color: hsl(39, 100%, 56%);
        display: flex;
        align-items: space-between;
        flex-direction: row;
    }
    .verbal{
        color: hsl(166, 100%, 37%);
        display: flex;
        align-items: space-between;
        flex-direction: row;
    }
    .visual{
        color: hsl(234, 85%, 45%);
        display: flex;
        align-items: space-between;
        flex-direction: row;
    }

    .reaction-container{
        background-color: hsla(0, 100%, 67%, 15%); ;
    }
    .memory-container{
        background-color: hsla(39, 100%, 56%, 15%);
    }
    .verbal-container{
        background-color:hsla(166, 100%, 37%, 15%);
    }
    .visual-container{
        background-color:hsla(234, 85%, 45%, 15%); ;
    }
    button{
        padding: 17px;
        color: white;
        width: 100%;
        margin-top: 15px;
        background-color: hsla(224, 29%, 27%, 1);
        border: none;
        border-radius: 25px;
        font-weight: bold;
        cursor: pointer;
    }
    .summary-text{
        color: hsl(224, 30%, 27%);
    }
}

@media screen and (max-width: 428px){
    .container {
      display: block;
      width: 100%;
      margin: 0;
    }
    .score-section {
      width: 100%;
    }
    .summary-section {
      width: 100%;
    }
  } 

  